@import "reset.less";

.hide{display: none !important;}
body{
    color: #fff;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

form{
    .desc{padding: 1em;}
    .row{
        label{
            &::after{
                content: ':'
            }
            height: 20px;
            line-height: 20px;
        }
        input[type=text]{
            &:focus{outline: 0}
            width: 300px;
            height: 20px;
            line-height: 20px;
            padding: 5px;
            border-radius: 5px;
            border: 0;
            color: cyan;
            background: rgba(0, 0, 0, 0.7);
        }
        .tip{
            color: red;
            padding-left: 3px;
            font-size: 12px;
        }
        padding: 5px 10px;
    }
}